---
title: Page Not Found
flags: [titleize]
---
:markdown
  Well, that's embarassing. That page couldn't be found. We didn't mean for this to happen.

  ![check yourself](/uploads/checkyourself.gif){:class=checkyourself}

- content_for :styles do 
  :css
    .checkyourself{ margin-top: 2em; }