<blockquote class="twitter-tweet">
<p>FontPrep (Mac app) converts all of your TTF & OTF files to Webready formats: WOFF, EOT, and SVG
<a href="http://t.co/dWu04EKM"title="http://fontprep.com/">fontprep.com</a></p>
— Smashing Magazine (@smashingmag) 
<a href="https://twitter.com/smashingmag/status/253206780753084416">October 2, 2012</a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>