---
title:    FontPrep Released
author:   Brian G.
date:     September 19, 2012
---

:markdown
  My brother [Matthew](http://artisfacto.com) and I are happy to announce the release of [FontPrep](http://fontprep.com), a simple drag & drop OSX app for easily converting fonts for the web. 

  This: ![fontprep image](http://briangonzalez.org/uploads/Screen%20Shot%202013-02-17%20at%2011.40.47%20PM.png)

  ## EDIT:
  We've been featured on the [HTML5 Weekly newsletter](http://html5weekly.com/archive/53.html) and on the [ShopTalk Show - Episode 032](http://shoptalkshow.com/episodes/032-with-estelle-weyl/).  We were also interviewed about FontPrep on the [EE Tech News Podcast](https://soundcloud.com/expertsexchange/tablets_ipadmini_microsoftsurface).

  [Smashing Magazine](http://www.smashingmagazine.com/) sent us some love:

<blockquote class="twitter-tweet">
<p>
FontPrep (Mac app) converts all of your TTF &amp; OTF files to Webready formats: WOFF, EOT, and SVG
<a href="http://t.co/dWu04EKM"title="http://fontprep.com/">fontprep.com</a></p>
&mdash; Smashing Magazine (@smashingmag) 
<a href="https://twitter.com/smashingmag/status/253206780753084416">October 2, 2012</a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>