---
title:    Compass2CSS
author:   Brian G.
date:     May 21, 2012
---

:markdown
  Lately I've needed a quick & easy way to view the output fromh some [Compass](http://compass-style.org/reference/compass) include statements. 
  
  [Chris Eppstein](http://chriseppstein.github.com/) and the guys over at Compass and [Sass](http://sass-lang.com/docs.html) have created an easy abstraction to the ever-changing CSS spec. I created a handy little app which lets you see the CSS output from any Compass code. 

%a.button{ :href => 'http://c2c.briangonzalez.org' }
  Launch Compass2CSS