---
title:        jquery.arbitrary-anchor.js
author:       Brian G.
date:         July 29, 2013
description:  Arbitrary anchors for any element on your page using a little jQuery magic.
---

:markdown
  I recently threw together a little plugin, [jquery.arbitrary-anchor.js](http://briangonzalez.org/arbitrary-anchor), which brings the ability to anchor to any element on the page. 

  You can fork the repository [on Github](https://github.com/briangonzalez/jquery.arbitrary-anchor.js/blob/master/README.md) or visit the site below.

  [Visit Website](https://github.com/briangonzalez/jquery.arbitrary-anchor.js/blob/master/README.md){:class=button}

  