---
title:    Overriding Underscore's Default Template Syntax
author:   brian
date:     April 11, 2013
---

:markdown
  Micro-templating has quickly become one of my "go to" technologies in the front-end stack.

  Whenever I use [Javascript micro-templating](https://developer.mozilla.org/en-US/docs/JavaScript_templates) in [Underscore.js](http://underscorejs.org/), I prefer the following syntax:

      // Alter underscore template delimiter;
      _.templateSettings.interpolate  = /\{\{(.+?)\}\}/g;             // {% console.log("blah") %}
      _.templateSettings.escape       = /\{\{\{([\s\S]+?)\}\}\}/g,    // {{ title }}
      _.templateSettings.evaluate     = /\{\%([\s\S]+?)\%\}/g,        // {{{ title }}}
    {:lang=javascript}

  __Note__ that the spaces in the delimiters!