---
title:    CSS Filters
author:   Brian G.
date:     April 17, 2013
---

:markdown
  CSS Filters are cool, and they can easily be used in your projects when you don't want to take images into Photoshop just for simple tasks.

  Curious how they work? Check out this [really cool demo](http://html5-demos.appspot.com/static/css/filters/index.html).