---
title:        jquery.pep.js grid
author:       Brian
date:         August 18, 2013
description:  Snap-to-grid functionality had just been added to jquery.pep.js.
---

:markdown
  I've recently received some help adding in snap-to-grid functionality to my jQuery plugin: [jquery.pep.js](http://pep.briangonzalez.org). 

  [Issue #52](https://github.com/briangonzalez/jquery.pep.js/issues/52) had been open for far too long when a [user of the plugin](https://github.com/fehertamas) and gave a little insight into some code changes he had made to add in this functionality. The result is flawless.

  Here is an [example on CodePen](http://codepen.io/briangonzalez/pen/274f06f80ad088eb8ce09f020d88f848) which shows just exactly how well it works. Enjoy!

  ## Example

  <p data-height="496" data-slug-hash="274f06f80ad088eb8ce09f020d88f848" data-user="briangonzalez" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/briangonzalez/pen/274f06f80ad088eb8ce09f020d88f848'>[Pep] Demo - grid</a> by Brian Gonzalez (<a href='http://codepen.io/briangonzalez'>@briangonzalez</a>) on <a href='http://codepen.io'>CodePen</a></p>
<script async src="http://codepen.io/assets/embed/ei.js"></script>