 

 div[role="main"]{

  // This little doo-dad handles our nav spacing.
  margin-top: $base-space*4;
  @include query-at($nav-breakpoint) { margin-top: 0; }

  float:left;
  max-width: $max-grid-width;
  @include span-columns(12, 12);

  //  Get our div[role="main"] to respond.
  //  This as well as  .side-mast will adjust at $main-breakpoint 
  //  (see _media.scss)
  @include query-at($main-breakpoint) {
    @include span-columns(9 omega, 12);
    @include pad(1,1);
    @include push(4);
    overflow: visible;
  }

  @include query-at($breakpoint-5) {
    @include span-columns(10 omega, 12);
    @include push(3);
  }

  h1{
    font-weight: 300;
    @include query-at($main-breakpoint) { text-align:left; }
  }

  .title + h2, h1 + h2{
    margin-top: 0;
  }
  
  h2{
    font-weight: 900;
    display: inline-block;
    width: 100%;
  }

  h6{
    @include rhythm(1, 0, 0, 3, $base-font-size);
  }

  p          { 
    overflow: visible; 
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }

  article {
    a, a:visited {   border-bottom: 2px solid $primary-color; }
    img { width: 100%; }
  }

  blockquote{
    border-left: 8px solid $primary-color;
    color: $text-color + 50;
    margin: 0 0 $base-space 0;
    @include span-columns(11,12);
    @include prefix(1);
    @include push(1);
    padding-top: $base-space/2;
    padding-bottom: $base-space/2;
  }

}

