body.home, body.posts{

  div[role="main"]{
    section.post{
      @include clearfix;
      padding-bottom: $base-space;
      border-bottom: 1px solid $super-lightgrey; 

      h2 {
        @include rhythm(6,0,0,3, $h2);
      }

      &:last-of-type      { border: 0; padding-bottom: 0; }

      ul{
        padding: 0;
        margin: 0;

        li{
          list-style-type: none;
          margin: 0;

          a, a:hover, a:visited{
            color: $text-color;
            border-bottom: 1px solid $primary-color;
            font-weight: normal;

            @include rhythm(0,4,0,0);

            &:hover{ color: $primary-color; };
          }

          time{
            display: block;
            color: $lightgrey - 20;
            
            $font-size: $base-font-size - 4px;
            @include adjust-font-size-to($font-size);
            @include rhythm(1,0,0,3);
          }

        }
      }


    }
  }

}