
nav{
  float: left;
  width: 100%;

  @include query-at($nav-breakpoint){ 
    margin: $base-space 0;
  }

  &.small-logic{
    display: none;

    @include query-at($nav-breakpoint) { display: block; }
  }

  ul{  
    list-style-type: none;
    overflow: visible;
    margin: 0; padding: 0;

    @include query-at($nav-breakpoint){ 
      margin: auto;
      font-weight: normal;
    }

    @include query-at($main-breakpoint){
      padding: 0 5px; 
    }

    li{
      overflow: visible;
      width: 100%;
      background: $dark-color;
      padding: $base-space/2.5 0;
      @include rhythm(0,1,1,0);
      border-top: 1px solid rgba(white, 0.1);

      @include query-at($nav-breakpoint) {
        margin-right: 1em;
        margin-top: none;
        padding: 0;
        display: inline-block;
        background: none;
        width: auto;
        border: none;
      }

      @include query-at($main-breakpoint) { display: block; }

      a, a:hover, a:visited{
        font-size: 0.7em;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        display: block; width: 100%; height: 100%;
        font-weight: 400;
        font-family: $base-heading-font;
        letter-spacing: 3px;
        @include single-transition(all, 250ms);

        &.current, &:hover{ color: white; }
      }

      @include query-at($nav-breakpoint){
        a, a:hover, a:visited{
          width: auto; height: auto; 
          display: inline; 
          color: $text-color + 60;
          border: none;

          $font-size: 10px;
          @include adjust-font-size-to($font-size);
          padding: rhythm(1) rhythm(2);
          margin-top: rhythm(2);

          &.current, &:hover{ 
            color: white;
            background: $dark-color; 
          }
        }
      }

      @include query-at($main-breakpoint){
        a, a:hover, a:visited{
          display: inline-block;

          &.current, &:hover{ 
            @include transform(translateX(2px))
          }
        }
      }
    }
  }

}