
body.posts{
  div[role="main"]{

    .title{
      border-bottom: 0;

      @include rhythm(0, 0, 0, 1);

      h1 { @include rhythm(0, 0, 0, 4, $h1); }

      .meta{
        $font-size: $base-font-size - 6px;
        @include adjust-font-size-to($font-size);
        @include rhythm(1, 0, 0, 1, $font-size);

        font-weight: 400;
        color: $lightgrey - 50;
        letter-spacing: 3px;

        @include query-at($main-breakpoint) { text-align:left; }

        time, .author   { text-transform: uppercase;  }
        .slash        { color: $text-color + 80;  
                          display: inline-block; 
                          margin-left:0.4em; 
                          margin-right:0.4em; 
                          font-weight: 200; 
                          letter-spacing: 1px;
                        }
      }
    }

  }
}
