---
title:    Deprecating FontPrep Version 1 
author:   Brian G.
date:     May 21, 2013
---

:markdown
  All good things must come to an end. FontPrep v1 is no different. FontPrep v1 worked by sending your fonts to a server for further processing and converting. In FontPrep v2+, we were able to bring the entire process to your machine.

  In the coming days, we'll be shutting off the API that powered FontPrep v1. Please upgrade as soon as possible to take [advantages of the latest features](http://briangonzalez.org/posts/whats-new-in-fontprep-v2).

  Contact [customer support](mailto:support@fontprep.com) with further questions.

  [Upgrade FontPrep Now](http://fontprep.com/download){:class=button}