---
title:    Bin Packing Algorithm in Javascript
author:   Brian G.
date:     May 28, 2013
---

:markdown
  I found [this article](http://codeincomplete.com/posts/2011/5/7/bin_packing/), which goes into detail about how to implement a Bin Packing algorithm in Javascript. The author used the algorithm to layout sprites on a sprite sheet. Pretty clever.

  Checkout this little demo below or [visit it](http://codepen.io/briangonzalez/pen/juGfr) directly.

<pre class="codepen" data-height="600" data-type="result" data-href="juGfr" data-user="briangonzalez" data-safe="true"><code></code><a href="http://codepen.io/briangonzalez/pen/juGfr">Check out this Pen!</a></pre>
<script async src="http://codepen.io/assets/embed/ei.js"></script>