---
title:  About 
---

%img.me.animated.flipInX{ :src => '/uploads/me.png' }

:markdown 
  # Hi, I'm Brian Gonzalez...
  I have two loves: my wife and my westie (pictured below). When I am not hacking on some random or not-so-random web project, you can find me exploring California, playing basketball, or hacking on some random web project.

  ![wife and westie](/uploads/abd989b8433e11e2ad6322000a9f14f2_7.jpg){:class=wifey-westie}

 
  ## Life

  In 2007, I received my Bachelor's of Science in Electrical Engineering from [California Polytechnic State University, San Luis Obispo](http://www.calpoly.edu/). 

  After graduation, I worked as a High School Youth Pastor at [FPCSLO](http://fpcslo.org/) for 3 years where I was able to spend time with teenage boys and girls and take groups of kids to serve the poor in Guatemala, the Dominican Republic, and Las Vegas.

  In 2011, my beautiful wife [Laura](http://los-gonzalez.com) and I moved to Norway where I pursued (and eventually received) my Master's Degree in Computer Science from the [University of Agder](http://www.uia.no/).


  ## Work
  I've worked for companies like [VMWare](http://vmware.com), [MyHeritage](http://myheritage.com), and [Geni](http://geni.com). I've created app/plugins/projects like [FontPrep](http://fontprep.com), [jquery.pep.js](http://pep.briangonzalez.org), [Sirkel](http://sirkel.cloudfoundry.com) ([featured](/jNQyF) on The Next Web), [Compass2CSS](http://c2c.briangonzalez.org), among others.
  

  ## I Believe
  - people should be treated equally across the board
  - the web will win -- be patient
  - architect right the first time; iterate on features, bugs, interface, experience, _not_ architecture
  - performance _is_ a feature, build accordingly


  ## Contact Me
  You can contact me on [Twitter](http://twitter.com/brianmgonzalez), fork something of mine on [Github](http://twitter.com/brianmgonzalez), or check out some of my latest web experiments on [Codepen](http://codepen.io/briangonzalez). Sometimes, I respond to [email](mailto:me@briangonzalez.org).

{file:follow_button.haml}

- content_for :styles do 
  :css
    .me{ max-width: 320px !important; margin: 0 auto 30px auto; display: block; opacity: 0.85 }
    .wifey-westie{ max-width: 400px !important; margin: 50px auto 30px auto;display: block; border-radius: 25px; border: 3px solid #250f2f; }