---
title:    Image to Box-Shadow Script
author:   Brian G.
date:     February 16, 2013
---

:markdown
  I wrote a small Ruby script to turn any image into its CSS box-shadow equivalent. The script requires ImageMagick and a couple of other Ruby gems.

  Check out the [gist](https://gist.github.com/briangonzalez/3925713) or view the [result](http://codepen.io/briangonzalez/pen/AvrGI) below.

  ## Result
{file: codepen_embed.haml}