---
title:        Vertical Rhythm in Compass
author:       Brian G.
date:         August 30, 2013
flags:        ['no-publish']
description:  This is your post's meta description.
---

:markdown
  Write your post in markdown, here.

<p data-height="827" data-theme-id="905" data-slug-hash="eDGcv" data-user="briangonzalez" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/briangonzalez/pen/eDGcv'>Vertical Rhythm using Compass</a> by Brian Gonzalez (<a href='http://codepen.io/briangonzalez'>@briangonzalez</a>) on <a href='http://codepen.io'>CodePen</a></p>
<script async src="http://codepen.io/assets/embed/ei.js"></script>