---
title:    Flat UI Kit
author:   Brian G.
date:     March 05, 2013
---

:markdown
  Here's a very nice flat user interface set by [DesignModo](http://designmodo.com/). Would love to see more stuff like this. 

  __[Check it out](http://designmodo.github.com/Flat-UI/)__

  __Edit__: Seems as if [LayerVault](https://layervault.com/) has issued a [takedown notice](https://github.com/github/dmca/commit/735e17614cca63102b8414ed2846c3effbfe9535#commitcomment-2751021) to DesignModo. Now the links are broken. I was able to get a zip file and upload it [here](/uploads/FlatUI-Free.zip). Use at your own discretion.