---
title:        jquery.arbitrary-anchor.js
author:       brian
date:         July 27, 2013
flags:        ['no-publish']
layout:       minimal
description:  This is your post's meta description.
---

%h1
  jquery.arbitrary-anchor.js

- content_for :styles do 
  :css
    {file: styles.css} 