---
title:    Building a Custom Scroller with jquery.pep.js
author:   Brian Gonzalez
date:     May 01, 2013
---

:markdown
  [Issue #43](https://github.com/briangonzalez/jquery.pep.js/issues/43) asked if one could use [jquery.pep.js](http://pep.briangonzalez.org) to build a custom scroller. 

  Well, more so they were filing an issue saying `constrainToParent` didn't work. It was infact working, but shouldn't be used for custom scrollers. 

  Here's how to do it:

<pre class="codepen" data-height="600" data-type="result" data-href="cwryp" data-user="briangonzalez" data-safe="true"><code></code><a href="http://codepen.io/briangonzalez/pen/cwryp">Check out this Pen!</a></pre>
<script async src="http://codepen.io/assets/embed/ei.js"></script>