---
title:    Bringing the Asset Pipeline to Rails 2.3.x
author:   brian
date:     June 24, 2013
flags:    ['no-publish']
---

:markdown
  Write your post in markdown, here.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper justo sem. Fusce ac sem est. Aenean dignissim feugiat auctor. Vestibulum in ante sem. Ut sit amet erat arcu, eget fringilla odio. Aenean a nibh est. Cras metus urna, vulputate non feugiat vel, condimentum sit amet purus.