---
title:        Bringing the Asset Pipeline to Rails 2.3.x
author:       Brian G.
date:         June 24, 2013
flags:        ['no-publish']
description:  This is how you can bring the Asset Pipeline to Rails 2.3.x apps.
---

:markdown
  Write your post in markdown, here.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper justo sem. Fusce ac sem est. Aenean dignissim feugiat auctor. Vestibulum in ante sem. Ut sit amet erat arcu, eget fringilla odio. Aenean a nibh est. Cras metus urna, vulputate non feugiat vel, condimentum sit amet purus.