---
title:    Pep, a lightweight jQuery plugin for mobile/desktop
author:   Brian G.
date:     May 21, 2012
---

:markdown
  At [Geni](http://geni.com) I've been working on an [HTML5 replacement](https://www.geni.com/appleseed?minimal=1#100594254) for our current Flash-based tree. 

  One of the requirements is that it would work on both touch screen devices as well as desktop devices. That means, yes, it needed to support both click and touch events. 

  I surveyed the landscape, and didn't find any plugins that did __exactly__ what I needed. Some were using [jQuery UI](http://jqueryui.com/) along with [Touch Punch](http://touchpunch.furf.com/). This had weird issues when the object being drug was scaled/zoomed. Long story short, I needed to build out my own solution. 

  I built [jquery.pep.js](http://pep.briangonzalez.org), which not only works on touch devices, it's kinetic (things ease nicely into place).

  Check out the [official demos here](http://pep.briangonzalez.org/demo) or follow/fork on [Github](https://github.com/briangonzalez/jquery.pep.js). 

%p
  <iframe src="http://ghbtns.com/github-btn.html?user=markdotto&repo=github-buttons&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe> 

  <iframe src="http://ghbtns.com/github-btn.html?user=briangonzalez&repo=jquery.pep.js&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>

:markdown

  ## EDIT:

  [Smashing Magazine](http://www.smashingmagazine.com/) sent some love on Twitter!

<blockquote class="twitter-tweet"><a href="https://twitter.com/smashingmag/status/208898355928104961"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

:markdown
  ## EDIT #2:

  Pep has been featured on [Unheap](http://briangonzalez.org/D6MAZ)!

%a.button{ :href => 'http://pep.briangonzalez.org' }
  Launch Pep