---
title:    Welcome to Inkpress
author:   Brian G.
date:     February 17, 2013
---

:markdown
  
  I've just recently moved my blog over to [Inkpress](https://github.com/briangonzalez/inkpress). It's a simple file-based CMS that could be described as the intersection of [Jekyll](https://github.com/mojombo/jekyll) and [Wordpress](http://wordpress.org/).

  I think Inkpress is pretty rad.

  [Email me](me@briangonzalez.org) with questions about how it works, checkout the [getting started article](http://inkpress.briangonzalez.org/getting-started), or read the [Inkpress documentation](http://inkpress.briangonzalez.org).

  [Get Inkpress](https://github.com/briangonzalez/inkpress){:class=button}