---
title:    My Open Source Report Card
author:   Brian G.
date:     May 21, 2013
---

:markdown
  [Dan Foreman-Mackey](http://dan.iel.fm/) has created such a neat tool: [The Open Source Report Card](http://osrc.dfm.io/).

  Check out [my Open Source Report Card](http://osrc.dfm.io/briangonzalez). Some notables: I am a __hump-day hero__, which means I do most of my work mid-week, and I also am __most productive in the morning__.

  Foreman-Mackey says it

  > ...seemed like a good idea to provide a more complete set of global statistics summarizing the hacker personality of any GitHub user.

  Noble goal my friend.